altair                    
asttokens                 
attrs                    
backcall                 
blinker                  
branca                    
cachetools                
category_encoders         
certifi                  
chardet                   
charset-normalizer        
click                    
colorama                  
comm                      
contourpy                 
cycler                    
debugpy                   
decorator                 
efficient_apriori         
exceptiongroup           
executing                
fastjsonschema                                
fonttools                              
geopy                     
gitdb                     
GitPython                 
greenlet                  
idna                      
imbalanced-learn          
imblearn                  
importlib_metadata        
ipykernel                 
ipython                   
ipython-genutils          
ipython-sql               
jedi                      
Jinja2                    
joblib                   
jsonschema                
jsonschema-specifications 
jupyter_client            
jupyter_core              
kiwisolver                
lxml                      
markdown-it-py          
MarkupSafe                
matplotlib                
matplotlib-inline         
mdurl                     
missingno                 
MouseInfo                 
narwhals                  
nbformat                 
nest_asyncio             
numpy                     
packaging                 
pandas                    
pandas-datareader         
parso                     
patsy                     
pickleshare              
pillow                    
pip                       
platformdirs             
plotly                    
prettytable               
prompt_toolkit            
protobuf                  
psutil                    
pure-eval                 
pyarrow                 
PyAutoGUI                
pydeck                    
PyGetWindow              
Pygments                  
PyMsgBox                 
pyparsing                
pyperclip                
PyRect                    
PyScreeze                 
python-dateutil          
pytweening                
pytz                     
pyzmq                     
referencing             
requests                  
rich                     
rpds-py                  
scikit-learn             
scipy                    
seaborn                  
setuptools                
shutup                   
six                       
sklearn-compat            
smmap                     
SQLAlchemy                
sqlparse                  
stack_data                
statsmodels             
streamlit               
tenacity                 
threadpoolctl            
toml                     
tornado                  
traitlets                
typing_extensions         
tzdata                    
urllib3                  
watchdog                  
watermark                 
wcwidth                  
wheel                    
xlrd                      
xyzservices               
zipp                      
